**************** TABLE ****************************/

body {
  font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  background: #E6EAE9;
}

a {
  color: #c75f3e;
}

#mytable {
  width: 980px;
  padding: 0;
  margin: 0;
}

caption {
  padding: 0 0 5px 0;
  width: 980px;  
  font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  text-align: right;
}

caption_date {
    width: 980px;    
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
  
}
#mytable th {
  font: 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #4f6b72;
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  border-top: 1px solid #C1DAD7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  padding: 6px 6px 6px 12px;
  background: #CAE8EA  no-repeat;
  cursor: default;
}


th.begin {
  border-left: 1px solid #C1DAD7;
  min-width: 30px;
    
  
}
th.nobg {
  border-top: 0;
  border-left: 0;
  border-right: 1px solid #C1DAD7;
  background: none;
}

tr {
  height: 15px;
}

td {
  border-right: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
  height: 100%;
}
td a:link {
  text-decoration: underline;

}
td a:visited{
  color:#2A5685;
}

td.total {
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    text-transform: uppercase;
    background: #CAE8EA  no-repeat;
    
}

td.begin,
td.begin_total {
  border-left: 1px solid #C1DAD7;
  border-bottom: 1px solid #C1DAD7;
  
  padding: 6px 6px 6px 12px;
  color: #4f6b72;
}

td.begin_total {
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    background: #CAE8EA  no-repeat;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
}

td.alt {
  background: #e0efef;
  color: #797268;
}



th.spec {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #fff url(images/bullet1.gif) no-repeat;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
  border-left: 1px solid #C1DAD7;
  border-top: 0;
  background: #f5fafa url(images/bullet2.gif) no-repeat;
  font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  color: #797268;
}

h5 {
  font-size: 1.6em;
  margin: 5px 0 0 2px;
  font-style: italic;
}

p.margin_left {
  margin-left: 2px;
}

hr.small{
    width:980px;
    float: left;
   text-style: left;
}

td.nao-pago a {
  color: #ffffff;
  text-decoration: underline;

}

td.nao-pago a:hover {
  text-decoration: underline;
}



td.nao-pago {
  background: #935555;
  color: #ffffff;
}

td.pendente {
  background: #e7e377;
  color: black;
}

td.pendente a {
  background: #e7e377;
  color: black;
  text-decoration: underline;

}

/*------------ Flecha do sortable -----------------_*/

.pretty th .current {  
  padding-right: 12px;  
  background-repeat: no-repeat;  
  background-position: right center;  
}  
.pretty th .asc {   
  background-image: url(images/up_arrow.gif);   
}  
  
.pretty th .desc {   
  background-image: url(images/down_arrow.gif);   
}  

/*-------- texto ---------) */
.right {
  float: right;
}

}